/* Styles for celsius form */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: cornflowerblue;
}

form {
    width: 400px;
    margin: 30px auto;
}

fieldset {
    border: 1px solid red;
    padding: 12px;
}

legend {
    font-size: 1.2em;
    font-style: italic;
    color: yellow;
}

/* label is an inline element, must be displayed block */
label {
    color: #333;
    margin-bottom: 8px;
    display: block;
}

input {
    display: block;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    color: red;
    font-style: italic;
}

p {
    text-align: center;
}